@mixin container($value) {
  width: $value;
  height: $value;
  top: 20%;
  left: 20%;
}

@mixin bg_color($value: grey) {
  background-color: $value;
}
@mixin text() {
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 30px;
}
@mixin bd-radius() {
  border-radius: 8%;
}

#one {
  @include container(20rem);
  @include bg_color(red);
  @include bd-radius();
}

#two {
  @include container(15rem);
  @include bg_color(green);

  @include bd-radius();
}

#three {
  @include container(10rem);
  @include bg_color(blue);

  @include bd-radius();
}
.text {
  @include text();
}
