*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  topnav css start */

.top_nav{
    width: 100%;
    height: 60px;
    background-color:#ffffff;
    
    
}
.mob_no{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #047985; 
    text-align: center;  
    clip-path: polygon(0 0, 100% 0, 91% 100%, 10% 100%);
}
.center_label li{
    display: inline-block;   
    
}
.center_label li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding-right: 15px; 
    letter-spacing: 1px;
}
.center_label li+li a::before{
    content: '|';
    display: inline-block;
    border-left: 2px solid white; 
    padding-right: 10px;
}
.btn_right{
    float: right;
    background: #047985;
    height: 60px;
   padding: 0px 10px;
   
}
.btn_right a{
    font-size: 25px;
    text-align: center;
    color: #ffffff;
}
.right_icon{ 
    float: right ;
  
    
}
.right_icon li {
    text-align: center;
    display: inline-block;
    
}
.right_icon li+li a::before{
    content: '|';
    display: inline-block;
    border-left: 2px solid white; 
    padding-right: 25px;
}
.right_icon li a{
    font-size: 25px;
    color: #111111;
    text-decoration: none;
    text-align: center;
    padding-left: 15px; 
    display: inline-block;
    
}

.right_icon li a .active{
    background: #047985;
    color:#ffffff;
    
}


/* main navbar start  */

.logo{
    max-width: 110px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 11;
    top: 0px;
    left: 10px;
}
.main_navbar{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #CA595E;
}
.main_navbar .navbar {
    float: left;
    padding-left: 145px;
    
  }
   .main_navbar .navbar li {
    display: inline-block;
    
   }
   .navbar li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border: none;
    padding: 13px 21px;
    display: inline-block;
   }
   .navbar li:hover{
    background-color : rgb(187, 187, 187);

 } 
 .main_navbar  li:hover ul {
    display: block;
}
   /* .main_navbar ul li+li a::before{
    content: '|';
    display: inline-block;  
    padding-right: 25px;
   } */
   
  .btn_blog{  
    right:0%;
    display: flex;
    position: absolute;
    font-size: 20px;
    width: 8%;
    height: 50px;
    background: gray;
    justify-content: center;
    align-items: center;
  }
   .btn_blog a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background: grey;
    
  }
  .btn_blog:hover a{
      color:#ecc317;  
  }
  

/* dropdown   */
 .navbar li ul{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0; 
    z-index: 10;  

}
.dropdown_content{
    background-color: rgb(187, 187, 187);
    padding-left:130px;
}
.dropdown_content li a{
    text-decoration: none;
    color: #111111;
    font-size: 18px;
    padding-right: 60px;

}
.dropdown_content li .fa{
    color: #CA595E;
    font-size: 40px;
}



/*  ---- slideshow start ---- */


.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	user-select: none;
	background-color: #1c1c1c;

 }
	input {
		display: none;
	}

	.slide_img {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
    }
		img {
			width: inherit;
			height: inherit;
		}

		.prev, .next {
			width:5%;
			height: 50px;
			position: absolute;
			top: 45%;
			background-color:#08050533;;
			z-index: 99;
			transition: .40s;
			cursor: pointer;
			text-align: center;
		}
		.next {
			right: 0;
		}
		.prev {
			left: 0;
		}

        #i1:checked ~ #one,
        #i2:checked ~ #two,
        #i3:checked ~ #three {
            z-index: 9;
           animation: scroll 1s ease-in-out;
                    }

@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

/*  -----   images start ---- */

.img_container{
        display: grid;

}
.banner1{
    grid-column: 1 / span 2;
  grid-row: 1;
}
.banner2 , .banner3 {
    grid-column: 1;
    grid-row: 2;
}
.banner3{
    grid-column: 1;
    grid-row: 3;
}
.banner4 {
    grid-column: 2;
  grid-row: 2 / span 4;

}
