*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  topnav css start */

.top_nav{
    width: 100%;
    height: 60px;
    background-color:#ffffff;
    overflow: hidden;
    
}
.mob_no{
    
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #047985; 
    text-align: center;  
    clip-path: polygon(0 0, 100% 0, 91% 100%, 10% 100%);
}
.center_label li{
    display: inline-block;   
    
}
.center_label li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding-right: 15px; 
    letter-spacing: 1px;
}
.btn_right{
    float: right;
    background: #047985;
    height: 60px;
   padding: 0px 10px;
   
}
.btn_right a{
    font-size: 25px;
    text-align: center;
    color: #ffffff;
}
.right_icon{ 
    float: right ;
    
}
.right_icon li {
    text-align: center;
    display: inline-block;
    
}
.right_icon li a{
    font-size: 25px;
    color: #111111;
    text-decoration: none;
    text-align: center;
    margin-left: 40px; 
    /* border-right: 2px solid grey; */
}
.right_icon li a .active{
    background: #047985;
    height: 55px;
    width: 80px;
    color:#ffffff;
}


/* main navbar start  */

.logo{
    max-width: 110px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 10px;
}
.main_navbar{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #CA595E;
}
.main_navbar ul {
    float: left;
    padding-left: 145px;
    
  }
   .main_navbar ul li {
    display: inline-block;
    
   }
   .main_navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border: none;
    padding: 16px 21px;
    display: inline-block;
   }
   
  .btn_blog{
      margin-left: 0;
      left: 0;
  }
  .btn_blog a{
    font-size: 20px;
   
    color: #ffffff;
    text-decoration: none;
    background: grey;
    
  }
  .btn_blog:hover a{
      color:#ecc317;  
  }
  .main_navbar ul li:hover{
    background-color :green;

 } 

/* dropdown   */


.main_navbar  li ul{
    display: none;
    position: absolute;
    background-color: grey;
    width: 100%;
    left: 0;
    margin: 14px;
}
.main_navbar  li ul li{
    width: 100%;
    padding-top: 20px;  
}
.main_navbar  li ul li a{
    color: white;
}
.main_navbar  li:hover ul {
    display: block;
}