$mainColor : #E4572E;
$title_fontsize : 30px;
$width : 100%;
$nav_height : 50px;
$monofont : 'Montserrat', sans-serif;
$titlefont : 'Balsamiq Sans', cursive;
$teaminfo_width : 45% ;
$teaminfo_height : 300px;
$team_container_height : 100%;
